@import '../styles/colors';
.card{
    border: 1px solid $blue

}
.btn{
    background-color:$blue;
    color:$white;
    &:hover{
        background-color:$white;
        color:$blue;
    }

}
.stop{
    background-color:$pink;
    color:$white;
    &:hover{
        background-color:$white;
        color:$pink;
    }

}
