@import './styles/colors';
nb-sidebar {
    background-color: $white;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nb-layout-header {
padding: 0%;
    .h5 {
        color: $pink;
    }
    
   
}

.span{
    
    color: $blue;
}
