<div class="d-flex flex-column justify-content-between  ">


    <div class="menu mb-5">
        <nb-menu [items]="items" >
        </nb-menu>
    </div>
  <!----  <div class="mt-5 mb-5 border-top">
        <nb-menu [items]="items2" class="mt-1">
        </nb-menu>
    </div>-->
    <div class="mt-lg-5 mt-md-5 mt-sm-0"></div>
    <div class="mt-lg-5 mt-md-5 mt-sm-0">
        <button nbButton  size="tiny" (click)="toggleCompact()" class="mt-lg-5 mt-md-5 mt-sm-4" ></button>
        <nb-menu  [items]="items3" class="logout">
        </nb-menu>
    </div>
</div>

